*{
    margin: 0px;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
/* first navigation section */

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
  width: 146px;
  height: 73px;
  margin: 0 20px 13px 209px;
  object-fit: contain;
  padding: 14px 0px 0px;
}



.navbar-links ul{
    margin: 0;
    padding:0;
    display: flex;
}

.navbar ul li a:hover{
  font-weight: bold;
}
.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

} 

nav{
    flex:1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}


nav ul li a{
    
  width: 32px;
  height: 22px;
  margin: 25px 30px 39px 11px;
  font-family: Karla;
  font-size: 18px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #222;
  text-decoration: none;
}

ul button{
    display: inline-flex;
    width: 130px;
  height: 40px;
  padding-top:10px;
  padding-left: 30px;
  background-color: #00c0b6;
  border:none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

/* second background image section */

.section{
    background:url('../Images/hero-banner.png');
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.centered{
    position: absolute;
    top: 214px;
    /* width: 100%; */
    left: 650px;
}

.search_engine{
    position: relative;
    /* top: 214px; */
    padding: 8px 8px 8px 30px;
}
.centered .praesent{
    width: 547px;
    height: 78px;
  font-family: Comfortaa;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.06;
  text-align: center;
  color:white;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

form.example input[type=text] {
    width: 691px;
  height: 56px;
  margin: 30px -79px;
  padding: 8px 8px 8px 57px;
  background-color: #fff;
  border: none;
  }
.search_input{
    width: 207px;
  height: 11px;
  margin: 15px 241px 14px 20px;
  /* opacity: 0.8; */
  font-family: Karla;
  font-size: 18px;
  line-height: 0.61;
  text-align: left;
  color: #505050;
}

  form.example button {
    width: 167px;
    height: 40px;
    margin: 0 0 0 -115px;
    padding: 10px 21px 10px 22px;
    background-color: #00c0b6;
    border: none;
    color: white;
    font-size: 18px;
  } 

  form.examples img{
    width: 18px;
    height: 21px;
    margin: -79px 53px 130px -60px;
    object-fit: contain;
    font-family: simple-line-icons;
    font-size: 18px;
    line-height: 1.17;
    text-align: left;
    color: #505050;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .vestibulm{
    width: 653px;
  height: 32px;
  margin: -77px -37px 0;
  font-family: Karla;
  font-size: 16px;
  line-height: 1.69;
  text-align: center;
  color: #fff;
}

/* Third section */

.row{
    display: flex;
}

.feature-box{
    text-align: center;
    margin-top: 100px;
}

.header1{
    font-family: Comfortaa;
    font-size: 18px;
    color: #13403e;
    line-height: 1.67;
    text-align: center;
    margin-top: 10px;
    margin-left: 300px;
}

.purus{
  width: 260px;
  height: 78px;
  margin-top: 10px;
  margin-left: 270px;
  font-family: Karla;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.icon{
    margin-left: 325px;
}

/* Fourth section */

.header2{
    width: 217px;
  height: 42px;
  font-family: Comfortaa;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: #01c0b6;
}

.hiw{
    margin-left: 800px;
    margin-top: 110px;
}

/* Fifth section */
.step{
    width: 80px;
  height: 80px;
  margin: 0 90px 27px;
  object-fit: contain;
}

.header3{
    width: 66px;
    height: 30px;
    margin: 27px 97px 20px;
    font-family: Comfortaa;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.ligula{
    width: 260px;
  height: 78px;
  margin: 20px 0 0;
  font-family: Karla;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.feature-boxes{
    width: 380px;
    height: 300px;
    margin: 60px 19px 130px 210px;
    padding: 33px 60px 32px;
    border-radius: 8px;
    box-shadow: 0 2px 1px 0 rgba(68, 68, 68, 0.1);
    background-color: #fcfcfc;
}